.apartments {
	padding: 67px 0 81px;
	background-color: #f5f5f5;

	@media (max-width: 1024px) {
		padding-top: 73px;
		padding-bottom: 16px;
	}
	@media (max-width: 640px) {
		padding-top: 60px;
		padding: 57px 3px 23px;
	}

	&-breadcrumbs__list {
		display: flex;
		margin-bottom: 77px;

		@media (max-width: 1024px) {
			margin-bottom: 49px;
		}
		@media (max-width: 640px) {
			margin-bottom: 35px;
		}
		@media (max-width: 480px) {
			flex-wrap: wrap;
		}
	}

	&-breadcrumbs__item:not(:last-child)::after {
		content: "/";
		margin-left: 4px;
		margin-right: 10px;
		font-size: 32px;
		@include title-font();
		border-radius: 2px;

		@media (max-width: 480px) {
			margin-left: 1px;
			font-size: 24px;
		}
	}

	&-breadcrumbs__item {
		@media (max-width: 480px) {
			margin-bottom: -1px;
		}
	}

	&-breadcrumbs__link {
		color: $colorTitle;
		@include title-font();
		font-size: 32px;
		line-height: 36px;
		letter-spacing: 0.25px;

		@media (max-width: 640px) {
			font-size: 28px;
			line-height: 31px;
		}
		@media (max-width: 480px) {
			font-size: 24px;
			line-height: 27px;
		}
	}

	&-card {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin: 0 -10px;

		@media (max-width: 768px) {
			justify-content: center;
			margin: 0 -10px;
		}

		&__item {
			width: 33.333%;
			flex: 1 1 auto;
			padding: 0 8px;
			display: flex;
			flex-direction: column;
			margin-bottom: 44px;

			@media (max-width: 1024px) {
				padding: 0 11px;
			}
			@media (max-width: 768px) {
				width: 50%;
				padding: 0 13px;
			}
			@media (max-width: 640px) {
				width: 100%;
				padding: 0 6px;
			}

			&:not(:last-child) {
				@media (max-width: 768px) {
					margin-bottom: 45px;
				}
			}

			&-header {
				position: relative;
				margin-bottom: 20px;

				@media (max-width: 1024px) {
					height: 542px;
					margin-bottom: 27px;
				}
				@media (max-width: 824px) {
					height: 444px;
				}
				@media (max-width: 768px) {
					height: 368px;
				}
				@media (max-width: 480px) {
					height: 381px;
					margin-bottom: 25px;
				}
			}

			&-photo {
				display: block;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}

			&-number {
				position: absolute;
				bottom: 5px;
				right: 2px;
				z-index: 1;
				padding-top: 17px;
				background-color: #fff;
				width: 60px;
				height: 60px;
				font-weight: 500;
				font-size: 20px;
				line-height: 23px;
				text-align: center;
				letter-spacing: 0.25px;
				color: $colorTitle;

				@media (max-width: 1024px) {
					right: -2px;
				}
				@media (max-width: 480px) {
					bottom: 2px;
					right: 1px;
					padding-top: 17px;
				}
			}

			&-content {
				flex: 1 1 auto;
				padding-left: 4px;
				margin-bottom: 25px;

				@media (max-width: 1024px) {
					margin-bottom: 30px;
					padding-left: 0;
				}
				@media (max-width: 480px) {
					padding-left: 2px;
					margin-bottom: 26px;
				}
			}

			&-title {
				@include title-font();
				font-size: 24px;
				line-height: 27px;
				color: $colorTitle;
				margin-bottom: 21px;

				@media (max-width: 640px) {
					font-size: 20px;
					line-height: 22px;
					margin-bottom: 15px;
				}
			}

			&-text {
				font-size: 16px;
				line-height: 166%;
				letter-spacing: 0.15px;
				color: $colorTxt;

				@media (max-width: 480px) {
					max-width: 264px;
					line-height: 27px;
					min-height: 76px;
				}
			}

			&-btn {
				display: block;
				margin-right: auto;
				padding: 17px 55px 15px 47px;

				@media (max-width: 1024px) {
					border-radius: 6px;
				}

				&::before {
					right: 28px;

					@media (max-width: 1024px) {
						right: 23px;
					}
					@media (max-width: 480px) {
						right: 18px;
					}
				}
			}

			&-btn--white {
				background-color: #fff;
				color: $colorTxt;

				&::before {
					background-image: url("../images/sprite_src/sprites/icons/prevblack.svg");
				}
			}
		}
	}
}
