.apartmentsbs {
	padding: 67px 0 81px;
	background-color: #f5f5f5;

	@media (max-width: 1024px) {
		padding-top: 73px;
		padding-bottom: 10px;
	}
	@media (max-width: 640px) {
		padding-top: 60px;
		padding: 57px 3px 23px;
	}

	& .breadcrumb {
		margin-bottom: 77px;

		@media (max-width: 1024px) {
			margin-bottom: 49px;
		}
		@media (max-width: 640px) {
			margin-bottom: 35px;
		}

		&-item {
			color: $colorTitle;
			@include title-font();
			font-size: 32px;
			line-height: 36px;
			letter-spacing: 0.25px;

			@media (max-width: 640px) {
				font-size: 28px;
				line-height: 31px;
			}
			@media (max-width: 480px) {
				font-size: 24px;
				line-height: 27px;
			}
		}
	}
}

.card-item {
	margin-bottom: 44px;

	&:not(:last-child) {
		@media (max-width: 768px) {
			margin-bottom: 45px;
		}
	}
}

.card {
	width: 100%;
	height: auto;
	border: none;
	background-color: transparent;

	&-header {
		padding: 0;
		border: none;
		border-radius: 0;
		margin: 0;
		margin-bottom: 29px;

		@media (max-width: 1024px) {
			height: 542px;
			margin-bottom: 28px;
		}
		@media (max-width: 824px) {
			height: 444px;
		}
		@media (max-width: 768px) {
			height: 368px;
		}
		@media (max-width: 480px) {
			height: 381px;
			margin-bottom: 25px;
		}

		& img {
			height: 100%;
			object-fit: cover;
		}

		& span {
			bottom: -25px !important;
			right: -31px !important;
		}
	}

	&-body {
		padding: 0;
		padding-left: 4px;
		margin-bottom: 25px;

		@media (max-width: 1024px) {
			margin-bottom: 32px;
			padding-left: 0;
		}
		@media (max-width: 480px) {
			padding-left: 2px;
			margin-bottom: 26px;
		}

		.card-title {
			@include title-font();
			font-size: 24px;
			line-height: 27px;
			color: $colorTitle;
			margin-bottom: 21px;

			@media (max-width: 640px) {
				font-size: 20px;
				line-height: 22px;
				margin-bottom: 15px;
			}
		}

		.card-text {
			font-size: 16px;
			line-height: 166%;
			letter-spacing: 0.15px;
			color: $colorTxt;

			@media (max-width: 480px) {
				max-width: 264px;
				line-height: 27px;
				min-height: 76px;
			}
		}
	}

	&-footer {
		padding: 0;
		border: none;
		background-color: transparent;
	}
}
