.contacts {
	text-align: center;
	padding: 107px 0 133px;

	@media (max-width: 1024px) {
		padding-top: 61px;
		padding-bottom: 47px;
	}
	@media (max-width: 640px) {
		padding-bottom: 20px;
	}
	@media (max-width: 480px) {
		padding-top: 49px;
		padding-bottom: 6px;
	}

	&-container {
		@media (max-width: 480px) {
			padding: 0;
		}
	}

	&-title {
		@include title-font();
		font-size: 46px;
		line-height: 51px;
		text-align: center;
		color: $colorTitle;
		margin-bottom: 74px;

		@media (max-width: 995px) {
			margin-bottom: 0;
		}
		@media (max-width: 768px) {
			font-size: 32px;
			line-height: 32px;
		}
		@media (max-width: 480px) {
			font-size: 24px;
			line-height: 27px;
		}
	}

	&-row {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@media (max-width: 824px) {
			flex-wrap: wrap;
			justify-content: center;
		}
	}
}

.contacts-form {
	width: 588px;
	display: inline-block;
	padding: 60px 101px 30px 101px;

	@media (max-width: 1150px) {
		width: 479px;
		padding: 61px 42px 30px 47px;
	}
	@media (max-width: 995px) {
		width: 380px;
	}
	@media (max-width: 824px) {
		width: 479px;
		padding: 40px 42px 30px 47px;
	}
	@media (max-width: 480px) {
		padding: 44px 15px 25px 15px;
	}

	&__title {
		text-align: left;
		display: flex;
		justify-content: space-between;
		align-items: baseline;
		margin-bottom: 36px;

		@media (max-width: 995px) {
			flex-wrap: wrap;
		}
		@media (max-width: 480px) {
			margin-bottom: 12px;
			max-width: 320px;
		}
	}

	&__title-text {
		display: inline-block;
		font-weight: 500;
		font-size: 20px;
		line-height: 23px;
		letter-spacing: 0.25px;
		color: $colorTitle;
		text-align: left;
		margin-bottom: 10px;

		@media (max-width: 480px) {
			margin-bottom: 17px;
		}
	}

	&__title-email {
		font-size: 14px;
		line-height: 20px;
		letter-spacing: 0.25px;
		color: $colorTxt;
		padding-left: 33px;
		padding-right: 12px;
		position: relative;

		@media (max-width: 1024px) {
			padding-left: 32px;
			padding-right: 1px;
		}

		&::before {
			position: absolute;
			content: " ";
			top: 4px;
			left: 0;
			width: 20px;
			height: 16px;
			background-image: url("../images/sprite_src/sprites/icons/new-post.svg");
		}
	}

	&__box {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		align-items: end;

		@media (max-width: 1024px) {
			align-items: start;
		}
		@media (max-width: 768px) {
			margin-bottom: 0;
		}

		&-fieldset {
			padding: 0;
			font-size: 12px;
			line-height: 24px;
			letter-spacing: 0.15px;
			color: rgba(0, 0, 0, 0.6);
			border: 1px solid rgba(25, 25, 25, 0.32);
			border-radius: 4px;
			max-width: 384px;
			width: 100%;
			height: 67px;
			text-align: left;
			margin-bottom: 17px;

			@media (max-width: 640px) {
				height: 52px;
				max-width: 271px;
				margin-bottom: 19px;
			}
		}

		&-legend {
			margin-left: 12px;

			@media (max-width: 1024px) {
				margin-left: 13px;
			}
			@media (max-width: 640px) {
				margin-left: 12px;
			}
		}

		&-input {
			border: none;
			background-color: transparent;
			cursor: pointer;
			display: block;
			width: 100%;
			padding: 8px 45px 8px 19px;
			padding: 0 20px;
			font-size: 18px;
			line-height: 24px;
			letter-spacing: 0.15px;
			color: $colorTitle;
		}

		&-area {
			resize: none;
			border: none;
			background-color: transparent;
			cursor: pointer;
			display: block;
			width: 100%;
			padding: 2px 45px 2px 19px;
			padding: 0 20px;
			font-size: 16px;
			line-height: 24px;
			letter-spacing: 0.15px;
			color: $colorTitle;
			height: 45px;
		}

		&-btn {
			margin-top: 36px;
			width: 180px;
			position: relative;
			padding: 15px 22px 16px 17px;
			text-align: center;

			@media (max-width: 1024px) {
				margin-top: 32px;
				padding: 18px 30px 14px 11px;
				width: 160px;
			}
			@media (max-width: 640px) {
				margin-top: 11px;
				width: 142px;
			}

			&::before {
				right: 29px;

				@media (max-width: 1024px) {
					right: 24px;
				}
				@media (max-width: 640px) {
					right: 19px;
				}
			}
		}
	}
}

.contacts-map {
	display: inline-block;
	max-width: 588px;
	width: 100%;
	height: 492px;
	box-shadow: 0px 24px 38px rgba(0, 0, 0, 0.14),
		0px 9px 46px rgba(0, 0, 0, 0.12), 0px 11px 15px rgba(0, 0, 0, 0.2);

	@media (max-width: 1250px) {
		max-width: 479px;
	}
	@media (max-width: 768px) {
		max-width: 588px;
		height: auto;
	}
	@media (max-width: 640px) {
		max-width: 450px;
		box-shadow: none;
	}

	& iframe {
		@media (max-width: 1250px) {
			max-width: 479px;
			width: 100%;
		}
		@media (max-width: 768px) {
			max-width: 588px;
		}
		@media (max-width: 640px) {
			max-width: 450px;
			height: 334px;
		}
	}

	&__company {
		text-align: left;
		display: flex;
		padding: 41px 45px 37px 25px;

		@media (max-width: 768px) {
			padding: 16px 20px 16px 16px;
			justify-content: space-between;
		}
		@media (max-width: 480px) {
			flex-wrap: wrap;
		}
	}

	&__location {
		padding-left: 38px;
		width: 241px;
		margin-right: 56px;

		@media (max-width: 1024px) {
			margin-right: 39px;
			padding-left: 28px;
		}
		@media (max-width: 640px) {
			margin-right: 0;
			margin-bottom: 5px;
			padding-left: 32px;
		}

		&-title {
			font-weight: 500;
			font-size: 20px;
			line-height: 23px;
			letter-spacing: 0.25px;
			color: $colorTitle;
			margin-bottom: 12px;
			position: relative;

			@media (max-width: 480px) {
				margin-bottom: 9px;
			}

			&::before {
				position: absolute;
				content: " ";
				top: 3px;
				left: -38px;
				width: 14px;
				height: 20px;
				background-image: url("../images/sprite_src/sprites/icons/marker.svg");

				@media (max-width: 1024px) {
					top: 3px;
					left: -33px;
				}
				@media (max-width: 480px) {
					top: 4px;
					left: -31px;
				}
			}
		}

		&-address {
			font-style: normal;
			font-size: 16px;
			line-height: 24px;
			letter-spacing: 0.15px;
			color: $colorTxt;
		}
	}

	&__call {
		width: 221px;
		padding-left: 43px;

		@media (max-width: 480px) {
			padding-left: 33px;
		}

		&-title {
			font-weight: 500;
			font-size: 20px;
			line-height: 23px;
			letter-spacing: 0.25px;
			color: $colorTitle;
			margin-bottom: 12px;
			position: relative;

			@media (max-width: 480px) {
				margin-bottom: 8px;
			}

			&::before {
				position: absolute;
				content: " ";
				top: 4px;
				left: -42px;
				width: 18px;
				height: 18px;
				background-image: url("../images/sprite_src/sprites/icons/phone.svg");

				@media (max-width: 1024px) {
					top: 4px;
					left: -36px;
				}
				@media (max-width: 480px) {
					top: 5px;
					left: -32px;
				}
			}
		}

		&-phone {
			display: block;
			font-style: normal;
			font-size: 16px;
			line-height: 24px;
			letter-spacing: 0.15px;
			color: rgba(0, 0, 0, 0.6);
		}
	}
}
