.event {
	background-color: #f5f5f5;
	padding: 159px 0 297px;

	@media (max-width: 1250px) {
		padding-top: 109px;
		padding-bottom: 150px;
	}
	@media (max-width: 1024px) {
		padding-top: 59px;
		padding-bottom: 196px;
	}
	@media (max-width: 768px) {
		padding-bottom: 0;
	}
	@media (max-width: 480px) {
		padding-top: 0;
	}
}

.event-container {
	@media (max-width: 480px) {
		padding: 0;
	}
}

.event__intro {
	position: relative;

	@media (max-width: 768px) {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		min-width: 0;
	}

	& .slider {
		position: relative;
		max-width: 1200px;

		@media (max-width: 640px) {
			max-width: 480px;
			max-height: 400px;
		}
		@media (max-width: 480px) {
			max-width: 330px;
			max-height: 230px;
		}
	}

	&-top {
		position: relative;
		max-width: 894px;

		& time {
			position: absolute;
			top: 0;
			right: -87px;
			margin-left: 24px;
			color: $colorTitle;
			background-color: rgba(240, 248, 255, 0.8);

			@media (max-width: 1250px) {
				right: 5px;
			}
			@media (max-width: 1024px) {
				right: 99px;
			}
			@media (max-width: 768px) {
				right: 300px;
			}
			@media (max-width: 640px) {
				right: 27px;
			}
			@media (max-width: 480px) {
				top: 5px;
			}
		}
	}

	&-img {
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		max-width: 894px;
		height: 504px;
		object-fit: cover;
		position: relative;

		@media (max-width: 1250px) {
			max-width: 800px;
		}
		@media (max-width: 1024px) {
			max-width: 712px;
		}
		@media (max-width: 640px) {
			max-width: 480px;
			max-height: 400px;
		}
		@media (max-width: 480px) {
			max-width: 100%;
			max-height: 230px;
		}
	}

	&-btn {
		cursor: pointer;
		position: absolute;
		bottom: -97px;
		left: 306px;
		padding: 42px 57px 39px;
		border-radius: 0;

		@media (max-width: 1250px) {
			left: 199px;
			bottom: -99px;
			padding: 43px 58px 40px 29px;
		}
		@media (max-width: 1024px) {
			padding: 43px 58px 40px 29px;
		}
		@media (max-width: 930px) {
			left: 0;
			padding: 43px 58px 40px 29px;
		}
		@media (max-width: 768px) {
			position: unset;
			order: 3;
			padding: 22px 42px 22px 17px;
		}
		@media (max-width: 640px) {
			padding: 22px 42px 22px 17px;
		}
		@media (max-width: 480px) {
			padding: 22px 42px 22px 7px;
			min-width: 169px;
			font-size: 12px;
		}

		&--link {
			position: relative;

			&::before {
				position: absolute;
				content: "";
				top: -5px;
				right: -28px;
				width: 24px;
				height: 24px;
				background-image: url("../images/sprite_src/sprites/icons/prev-icon.svg");
			}
		}

		&.header__content-btn::before {
			font-size: 0;
			z-index: -1;
			display: none;
		}
	}

	&-box {
		position: absolute;
		bottom: -136px;
		left: 511px;
		background-color: #03dac4;
		max-width: 690px;
		padding: 70px 102px 90px 102px;
		box-shadow: 0px 24px 38px rgba(0, 0, 0, 0.14),
			0px 9px 46px rgba(0, 0, 0, 0.12), 0px 11px 15px rgba(0, 0, 0, 0.2);
		transition: left 0.3s linear;

		@media (max-width: 1250px) {
			max-width: 643px;
			padding: 84px 102px 80px 48px;
			left: 376px;
		}
		@media (max-width: 1024px) {
			max-width: 603px;
			padding: 84px 102px 80px 48px;
		}
		@media (max-width: 930px) {
			left: 177px;
			padding: 30px 102px 30px 48px;
		}
		@media (max-width: 768px) {
			position: unset;
			max-width: 481px;
			left: -1px;
		}
		@media (max-width: 640px) {
			padding: 37px 60px 38px 24px;
		}
		@media (max-width: 480px) {
			max-width: 330px;
			padding: 38px 22px 36px 16px;
		}
	}

	&-title {
		font-weight: 500;
		font-size: 20px;
		line-height: 23px;
		letter-spacing: 0.25px;
		color: $colorTitle;
		margin-bottom: 41px;

		@media (max-width: 1250px) {
			margin-bottom: 35px;
		}
		@media (max-width: 480px) {
			margin-bottom: 21px;
		}
	}

	&-text {
		font-size: 16px;
		line-height: 24px;
		letter-spacing: 0.15px;
		color: $colorTitle;
	}
}
