.feature {
	padding: 44px 0 100px;
	text-align: center;

	@media (max-width: 1024px) {
		padding-top: 60px;
		padding-bottom: 62px;
	}
	@media (max-width: 640px) {
		padding-bottom: 41px;
		padding-top: 63px;
	}

	&-container {
		max-width: 1300px;
	}

	&-intro {
		display: flex;
		flex: 1 1 auto;
		justify-content: space-between;

		@media (max-width: 768px) {
			flex-direction: column;
		}

		&__popup {
			padding-left: 31px;
			height: 100%;
			width: 50%;
			position: relative;

			@media (max-width: 1300px) {
				padding-left: 0;
				width: 45%;
			}
			@media (max-width: 1024px) {
				width: 43%;
			}
			@media (max-width: 768px) {
				width: 80%;
				margin: auto;
			}
			@media (max-width: 480px) {
				width: 100%;
			}

			& img {
				@media (max-width: 1024px) {
					object-fit: cover;
					height: 366px;
				}
				@media (max-width: 768px) {
					width: 100%;
				}
				@media (max-width: 480px) {
					height: 244px;
				}
			}
		}

		&__popup-item {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-27%, -44%);

			@media (max-width: 1024px) {
				transform: translate(-44%, -44%);
			}
			@media (max-width: 480px) {
				transform: translate(-51%, -45%);
			}
		}

		&__items-box {
			width: 670px;
			padding-left: 26px;
			padding-right: 5px;
			display: flex;
			flex-wrap: wrap;
			padding-top: 67px;

			@media (max-width: 1300px) {
				padding-left: 0;
				width: 52%;
				justify-content: space-between;
			}
			@media (max-width: 1024px) {
				width: 57%;
				padding-top: 42px;
				padding-left: 43px;
				padding-right: 22px;
			}
			@media (max-width: 824px) {
				padding-left: 5px;
				padding-right: 5px;
			}
			@media (max-width: 768px) {
				width: 100%;
				justify-content: space-around;
			}
			@media (max-width: 640px) {
				padding-top: 30px;
			}
		}

		&__item {
			width: 305px;
			margin-bottom: 81px;
			text-align: left;
			position: relative;

			@media (max-width: 1300px) {
				width: 50%;
				max-width: 273px;
				margin-bottom: 47px;
				padding: 0 10px;
			}
			@media (max-width: 1024px) {
				max-width: 255px;
				margin-bottom: 36px;
				padding: 0;
			}
			@media (max-width: 728px) {
				max-width: 50%;
				padding: 0 5px;
			}
			@media (max-width: 640px) {
				max-width: 100%;
				width: 100%;
				margin-bottom: 40px;
				padding: 0;
			}

			&:last-child {
				@media (max-width: 640px) {
					margin-bottom: 0;
				}

				.feature-intro__item-title {
					@media (max-width: 1024px) {
						margin-bottom: 10px;
					}
					@media (max-width: 640px) {
						margin-bottom: 20px;
					}
					@media (max-width: 480px) {
						margin-bottom: 10px;
					}
				}
			}

			&-img {
				position: absolute;
				content: "";
				top: 2px;
				left: 0px;
				margin-right: 16px;
				width: 20px;
				height: 20px;

				@media (max-width: 1300px) {
					left: 15px;
				}

				&--natural {
					background-image: url("../images/sprite_src/sprites/icons/natural_food.svg");
				}
				&--innovation {
					background-image: url("../images/sprite_src/sprites/icons/innovation.svg");
				}
				&--heart {
					background-image: url("../images/sprite_src/sprites/icons/heart_with_pulse.svg");
				}
				&--planet {
					background-image: url("../images/sprite_src/sprites/icons/planet.svg");
				}
			}

			&-title {
				@include title-font(400);
				font-size: 20px;
				line-height: 22px;
				letter-spacing: 0.25px;
				color: $colorTitle;
				margin-bottom: 20px;
				padding-left: 36px;

				@media (max-width: 1024px) {
					margin-bottom: 31px;
					padding-left: 46px;
				}
				@media (max-width: 768px) {
					margin-bottom: 20px;
				}
				@media (max-width: 480px) {
					padding-left: 48px;
					margin-bottom: 33px;
				}

				&:last-child {
					margin-bottom: 10px;
				}
			}

			&-text {
				font-weight: normal;
				font-size: 16px;
				line-height: 24px;
				letter-spacing: 0.15px;
				color: $colorTxt;
				max-width: 282px;

				@media (max-width: 1024px) {
					padding-left: 17px;
				}
				@media (max-width: 768px) {
					padding-left: 19px;
				}
				@media (max-width: 640px) {
					max-width: 100%;
				}
				@media (max-width: 480px) {
					max-width: 245px;
				}
			}
		}
	}

	&__subtitle {
		@include title-font();
		font-size: 20px;
		line-height: 22px;
		text-align: center;
		letter-spacing: 0.25px;
		color: $colorSbTitle;
		margin-left: -7px;
		margin-bottom: 13px;

		@media (max-width: 1024px) {
			max-width: 281px;
			margin: 0 auto 22px;
			line-height: 24px;
		}
		@media (max-width: 640px) {
			font-size: 18px;
		}
		@media (max-width: 480px) {
			font-size: 16px;
			line-height: 19px;
			max-width: 188px;
			margin-bottom: 18px;
		}
	}

	&__title {
		max-width: 560px;
		@include title-font();
		font-size: 32px;
		line-height: 36px;
		text-align: center;
		color: $colorTitle;
		display: inline-block;
		margin-left: -13px;
		padding-bottom: 65px;

		@media (max-width: 1024px) {
			padding-bottom: 40px;
			font-size: 28px;
			line-height: 34px;
			max-width: 434px;
			margin-left: 14px;
		}
		@media (max-width: 640px) {
			font-size: 23px;
			line-height: 28px;
			max-width: 434px;
			margin-left: 0;
		}
		@media (max-width: 480px) {
			padding-bottom: 60px;
			font-size: 18px;
			line-height: 22px;
			max-width: 270px;
		}
	}
}

.svg-icons-play-button {
	@media (max-width: 1024px) {
		width: 64px;
		height: 64px;
	}
}
