@font-face {
    font-family: 'Comfortaa';
    src: url('../fonts/comfortaa.woff2') format('woff2'),
        url('../fonts/comfortaa.woff') format('woff'),
        url('../fonts/comfortaa.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Comfortaa';
    src: url('../fonts/comfortaabold.woff2') format('woff2'),
        url('../fonts/comfortaabold.woff') format('woff'),
        url('../fonts/comfortaabold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}