.footer {
	background-color: #f5f5f5;
}

.footer-inner {
	padding: 98px 0 67px;
	display: flex;

	@media (max-width: 1024px) {
		padding-top: 42px;
		padding-bottom: 29px;
	}
	@media (max-width: 870px) {
		justify-content: center;
		flex-wrap: wrap;
		padding-bottom: 8px;
	}

	&__left {
		width: 50%;
		padding-top: 19px;

		@media (max-width: 768px) {
			padding-right: 50px;
		}
		@media (max-width: 640px) {
			width: 100%;
			padding-right: 0;
		}

		&-logo {
			display: inline-block;
			margin-bottom: 36px;

			@media (max-width: 640px) {
				margin-bottom: 24px;
			}
		}

		&-text {
			max-width: 377px;
			font-weight: 500;
			font-size: 20px;
			line-height: 166%;
			letter-spacing: 0.25px;
			color: rgba(0, 0, 0, 0.6);

			@media (max-width: 1024px) {
				max-width: 313px;
			}
			@media (max-width: 480px) {
				font-size: 18px;
				line-height: 30px;
				max-width: 250px;
			}
		}
	}

	&__right {
		display: flex;
		justify-content: space-around;
		flex: 1 1 auto;

		@media (max-width: 1024px) {
			padding-top: 19px;
		}
		@media (max-width: 640px) {
			padding-left: 0;
		}
		@media (max-width: 480px) {
			padding-top: 26px;
		}
	}

	&__menu {
		flex: 1 1 auto;
		width: 50%;
		padding-left: 115px;

		@media (max-width: 1024px) {
			padding-left: 113px;
		}
		@media (max-width: 995px) {
			padding-left: 0;
			min-width: 139px;
		}
	}

	&__menu-tittle,
	&__social-tittle {
		font-weight: 700;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: 0.15px;
		color: #03dac4;
		margin-bottom: 32px;

		@media (max-width: 480px) {
			margin-bottom: 22px;
		}
	}

	&__menu-item,
	&__social-item {
		font-size: 16px;
		line-height: 24px;
		letter-spacing: 0.15px;
		color: rgba(0, 0, 0, 0.87);
		margin-bottom: 30px;
		transition: color 0.2s linear;

		@media (max-width: 640px) {
			margin-bottom: 16px;
		}
	}

	&__menu-item:hover,
	&__social-item:hover {
		color: #3b00dd;
	}

	&__social {
		flex: 1 1 auto;
		width: 50%;
		padding-left: 120px;

		@media (max-width: 1024px) {
			padding-left: 99px;
		}
		@media (max-width: 995px) {
			padding-left: 0;
			min-width: 134px;
		}
	}
}

.footer-hr {
	display: inline-block;
	width: 100%;
	border: 1px solid rgba(0, 0, 0, 0.38);
}

.footer-bottom {
	display: flex;
	justify-content: space-between;
	padding: 16px 0 10px;

	@media (max-width: 1024px) {
		padding: 23px 0 6px;
	}
	@media (max-width: 870px) {
		flex-wrap: wrap;
		justify-content: center;
		padding: 10px 0 16px;
	}
	@media (max-width: 640px) {
		justify-content: start;
	}

	&__copyright {
		font-size: 16px;
		line-height: 24px;
		letter-spacing: 0.15px;
		color: rgba(0, 0, 0, 0.6);
		padding-top: 24px;
		margin-right: 19px;

		@media (max-width: 1024px) {
			padding-top: 22px;
		}
		@media (max-width: 870px) {
			order: 2;
			padding-top: 5px;
		}
		@media (max-width: 640px) {
			padding-top: 17px;
		}
	}

	&__form {
		display: flex;

		@media (max-width: 640px) {
			flex-wrap: wrap;
			justify-content: start;
			margin-bottom: 0;
		}
	}

	&__text {
		font-weight: 500;
		font-size: 20px;
		line-height: 23px;
		letter-spacing: 0.25px;
		color: rgba(0, 0, 0, 0.87);
		padding-top: 26px;
		margin-right: 21px;

		@media (max-width: 1024px) {
			margin-right: 18px;
		}
		@media (max-width: 640px) {
			margin-left: 18px;
			padding-top: 10px;
		}
		@media (max-width: 480px) {
			margin-left: 0;
			margin-bottom: 4px;
		}
	}

	&__fieldset {
		padding: 0;
		font-size: 12px;
		line-height: 24px;
		letter-spacing: 0.15px;
		color: rgba(0, 0, 0, 0.6);
		border: 1px solid rgba(25, 25, 25, 0.32);
		border-radius: 4px;
		width: 382px;
		height: 68px;
		position: relative;

		@media (max-width: 1024px) {
			width: 312px;
			height: 66px;
		}
		@media (max-width: 480px) {
			width: 272px;
			height: 64px;
		}
	}

	&__legend {
		margin-left: 11px;

		@media (max-width: 480px) {
			margin-left: 8px;
		}
	}

	&__input {
		border: none;
		background-color: transparent;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		cursor: pointer;
		display: block;
		width: 100%;
		padding: 8px 45px 8px 19px;
		font-size: 18px;
	}

	&__btn {
		border: none;
		background-color: transparent;
		position: absolute;
		top: 5px;
		right: 5px;
		cursor: pointer;

		@media (max-width: 1024px) {
			right: -2px;
		}
	}
}
