#wrapper {
	overflow: hidden;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

main {
	flex: 1 1 auto;
}

.page {
	overflow: hidden;
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	border: none;
	background-color: transparent;
	cursor: pointer;
	color: inherit;
}

body {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-size: 24px;
	line-height: 28px;
	color: #000;
}

body.lock {
	overflow: hidden;
}

.container {
	width: 100%;
	max-width: 1230px;
	margin: 0 auto;
	padding: 0 15px;
}

.header__content-btn {
	display: inline-block;
	padding: 17px 67px 15px 32px;
	font-weight: 500;
	font-size: 12px;
	line-height: 16px;
	text-align: center;
	letter-spacing: 1.25px;
	text-transform: uppercase;
	color: #ffffff;
	background-color: #3b00dd;
	border-radius: 4px;
	position: relative;
	transition: background-color 0.2s linear;

	@media (max-width: 1024px) {
		padding: 18px 52px 15px 26px;
		font-size: 12px;
	}
	@media (max-width: 640px) {
		padding: 11px 40px 9px 16px;
		font-size: 10px;
		line-height: 16px;
		display: inline-block;
		min-width: 142px;
	}

	&::before {
		position: absolute;
		content: " ";
		top: 12px;
		right: 42px;
		width: 24px;
		height: 24px;
		background-image: url("../images/sprite_src/sprites/icons/prev-icon.svg");

		@media (max-width: 1024px) {
			right: 26px;
		}
		@media (max-width: 640px) {
			right: 15px;
			top: 6px;
		}
	}

	&--white {
		background-color: #fff;
		color: $colorTxt;

		&::before {
			background-image: url("../images/sprite_src/sprites/icons/prevblack.svg");
		}
	}

	&:hover {
		background-color: #724bdd;
	}
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

.slider {
	min-width: 0;
	position: relative;
}

.slick-track {
	display: flex;
	align-items: flex-start;
	min-width: 0;
}

.slick-list {
	overflow: hidden;
}
