.header {
	padding: 49px 103px 44px 40px;
	box-shadow: 0px 24px 38px rgba(0, 0, 0, 0.14),
		0px 9px 46px rgba(0, 0, 0, 0.12), 0px 11px 15px rgba(0, 0, 0, 0.2);
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;

	@media (max-width: 1024px) {
		padding-right: 58px;
		padding-left: 27px;
	}
	@media (max-width: 824px) {
		padding: 29px 25px 21px 14px;
	}
	@media (max-width: 640px) {
		padding: 29px 17px 26px 16px;
	}

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #fff;
		z-index: 1;
	}

	&__top {
		display: flex;
		align-items: center;

		@media (max-width: 768px) {
			justify-content: space-between;
		}
	}
}

.header__logo {
	margin-right: 55px;
	display: inline-block;
	position: relative;
	z-index: 50;

	@media (max-width: 1024px) {
		margin-right: 68px;
	}
}

.header__burger {
	display: none;

	@media (max-width: 768px) {
		cursor: pointer;
		display: block;
		position: relative;
		width: 30px;
		height: 22px;
		right: 0;
		top: 50%;
		z-index: 50;
	}
	@media (max-width: 480px) {
		width: 26px;
		height: 13px;
	}

	&::before,
	&::after {
		content: "";
		position: absolute;
		background-color: $colorSbTitle;
		width: 100%;
		height: 10%;
		left: 0;
		right: 0;
		z-index: 50;
		transition: all 0.3s ease;
	}

	&::before {
		top: 0;
	}

	&::after {
		bottom: 0;
	}

	&.active::before {
		transform: rotate(-45deg) translate(0, -50%);
		top: 50%;
	}

	&.active::after {
		transform: rotate(45deg) translate(0, 50%);
		bottom: 50%;
	}

	&.active span {
		transform: scale(0) translate(0, -50%);
	}

	& span {
		position: absolute;
		background-color: $colorSbTitle;
		width: 100%;
		height: 10%;
		left: 0;
		top: 50%;
		transform: scale(1) translate(0, -50%);
		z-index: 2;
		transition: all 0.3s ease;
	}
}

.header__menu {
	position: relative;
	z-index: 2;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	width: 1060px;

	@media (max-width: 768px) {
		position: fixed;
		top: 76px;
		left: -100%;
		width: 100%;
		height: 60%;
		padding: 20px 10px 20px 10px;
		background-color: #fff;
		text-align: center;
		transition: left 0.3s ease;
		overflow: auto;
		display: block;
	}

	&.active {
		left: 0;
	}

	&-list {
		display: flex;
		justify-content: space-between;
		align-items: center;
		min-width: 402px;

		@media (max-width: 880px) {
			min-width: 300px;
		}
		@media (max-width: 768px) {
			flex-direction: column;
			min-width: 100%;
			padding: 0 19px 10px;
			justify-content: unset;
		}
	}

	&-item {
		@include title-font();
		font-size: 16px;
		line-height: 24px;
		letter-spacing: 0.15px;
		color: $colorTitle;
		transition: color 0.2s linear;

		@media (max-width: 768px) {
			margin-bottom: 20px;
			display: block;
			position: relative;
		}

		&:hover {
			color: #3b00dd;
		}

		&:not(:last-child) {
			margin-right: 25px;

			@media (max-width: 880px) {
				margin-right: 10px;
			}
			@media (max-width: 768px) {
				margin-right: 0;
			}
		}
	}
}

.header__social {
	@media (max-width: 768px) {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		align-items: center;
		padding: 0 19px;
		width: 100%;
		z-index: 50;
	}

	&-list {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&-link {
		padding-left: 22px;
		display: inline-block;

		@media (max-width: 768px) {
			padding-right: 22px;
		}
	}
}

.svg-socials-facebook,
.svg-socials-twitter,
.svg-socials-instagram {
	top: -2px;
	transition: transform 0.2s linear;
}

.svg-socials-facebook:hover,
.svg-socials-twitter:hover,
.svg-socials-instagram:hover {
	transform: scale(1.2);
}
