.intro {
	display: flex;
	justify-content: space-between;
	padding-top: 93px;

	@media (max-width: 824px) {
		padding-top: 48px;
	}
	@media (max-width: 640px) {
		display: block;
		padding-top: 53px;
	}
}

.intro__content {
	max-width: 905px;
	padding: 193px 36px 100px 111px;

	@media (max-width: 1200px) {
		max-width: 745px;
	}
	@media (max-width: 1024px) {
		max-width: 545px;
		padding: 203px 36px 203px 16px;
	}
	@media (max-width: 824px) {
		max-width: 400px;
		padding: 130px 36px 100px 16px;
	}
	@media (max-width: 640px) {
		background-image: url("../images/intro-bg.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		padding: 100px 36px 131px 16px;
		max-width: 100%;
	}

	&-title {
		@include title-font();
		font-size: 56px;
		line-height: 62px;
		letter-spacing: -0.5px;
		color: $colorTxt;
		padding-right: 15px;
		margin-bottom: 22px;

		@media (max-width: 1200px) {
			font-size: 46px;
			line-height: 50px;
		}
		@media (max-width: 1024px) {
			font-size: 36px;
			line-height: 40px;
			margin-bottom: 24px;
		}
		@media (max-width: 824px) {
			font-size: 32px;
			line-height: 36px;
		}
		@media (max-width: 640px) {
			font-size: 26px;
			line-height: 30px;
			color: #ffffff;
			max-width: 360px;
			padding-right: 0;
			margin-bottom: 15px;
		}
		@media (max-width: 480px) {
			font-size: 20px;
			line-height: 22px;
			max-width: 271px;
		}
	}

	&-text {
		color: $colorTitle;
		max-width: 486px;
		margin-bottom: 106px;

		@media (max-width: 1024px) {
			max-width: 346px;
			margin-bottom: 48px;
		}
		@media (max-width: 824px) {
			max-width: 306px;
			margin-bottom: 39px;
		}
		@media (max-width: 640px) {
			font-size: 20px;
			line-height: 24px;
			color: #ffffff;
			max-width: 270px;
		}
		@media (max-width: 480px) {
			font-size: 16px;
			line-height: 19px;
			max-width: 221px;
		}
	}
}

.intro__photo {
	position: relative;
	width: 100%;

	@media (max-width: 640px) {
		display: none;
	}

	&-bg {
		position: relative;
		min-height: 100%;
		top: 0;
		right: 0;
		object-fit: cover;
	}

	&-scroll {
		position: absolute;
		bottom: 173px;
		right: 109px;
		z-index: 2;
		font-size: 13px;
		line-height: 20px;
		letter-spacing: 0.25px;
		color: #ffffff;
		transform: rotate(90deg);

		@media (max-width: 1024px) {
			bottom: 120px;
			right: 35px;
		}
	}

	&-mouse {
		position: absolute;
		bottom: 100px;
		right: 110px;
		padding-top: 19px;
		z-index: 2;

		@media (max-width: 1024px) {
			bottom: 46px;
			right: 39px;
		}
	}
}
