.portfolio {
	padding: 116px 0 120px;

	@media (max-width: 1250px) {
		padding-top: 91px;
		padding-bottom: 92px;
	}
	@media (max-width: 1024px) {
		padding-top: 61px;
		padding-bottom: 62px;
	}
	@media (max-width: 640px) {
		padding-top: 60px;
		padding-bottom: 60px;
	}

	&__title {
		text-align: center;
		@include title-font();
		font-size: 46px;
		line-height: 51px;
		color: $colorTitle;
		margin-bottom: 146px;

		@media (max-width: 1250px) {
			margin-bottom: 103px;
		}
		@media (max-width: 1150px) {
			margin-bottom: 73px;
		}
		@media (max-width: 1024px) {
			margin-bottom: 53px;
			margin-right: 19px;
		}
		@media (max-width: 824px) {
			font-size: 32px;
			line-height: 36px;
			margin-right: 0;
		}
		@media (max-width: 480px) {
			font-size: 24px;
			line-height: 27px;
			margin-bottom: 35px;
		}
	}

	&__items {
		display: grid;
		gap: 24px;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(3, 1fr);
		justify-content: center;

		@media (max-width: 1250px) {
			gap: 22px;
		}
		@media (max-width: 1024px) {
			gap: 20px;
		}
		@media (max-width: 824px) {
			gap: 10px;
		}
		@media (max-width: 480px) {
			grid-template-columns: repeat(1, 1fr);
			grid-template-rows: repeat(6, 1fr);
			gap: 24px;
		}
	}

	&__item--big {
		grid-column: span 2;
		grid-row: span 2;

		@media (max-width: 480px) {
			grid-column: span 1;
			grid-row: span 1;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			min-width: 588px;
			min-height: 588px;

			@media (max-width: 1250px) {
				min-width: 479px;
			}
			@media (max-width: 1024px) {
				min-width: 400px;
			}
			@media (max-width: 824px) {
				min-width: 320px;
				min-height: 320px;
			}
			@media (max-width: 768px) {
				min-width: 160px;
				min-height: 160px;
			}
			@media (max-width: 640px) {
				min-width: 100px;
				min-height: 100px;
			}
			@media (max-width: 480px) {
				min-width: 320px;
				min-height: 394px;
			}
		}
	}

	&__item {
		background-color: $colorSbTitle;

		@media (max-width: 768px) {
			grid-column: span 2;
			grid-row: span 1;
		}
		@media (max-width: 480px) {
			grid-column: span 1;
		}

		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			min-width: 282px;
			min-height: 282px;

			@media (max-width: 1250px) {
				min-width: 230px;
			}
			@media (max-width: 1024px) {
				min-width: 160px;
			}
			@media (max-width: 824px) {
				min-height: 160px;
			}
			@media (max-width: 640px) {
				min-height: 100px;
				min-width: 100px;
			}
			@media (max-width: 480px) {
				min-height: 394px;
				min-width: 320px;
			}
		}
	}
}
