.reviews {
	padding: 107px 0 122px;

	@media (max-width: 1024px) {
		padding-top: 63px;
		padding-bottom: 84px;
	}
	@media (max-width: 768px) {
		padding-top: 61px;
		padding-bottom: 60px;
	}
	@media (max-width: 480px) {
		padding-bottom: 112px;
	}

	&__title {
		text-align: center;
		@include title-font();
		font-size: 46px;
		line-height: 51px;
		color: $colorTitle;
		margin-bottom: 90px;

		@media (max-width: 1024px) {
			margin-bottom: 48px;
		}
		@media (max-width: 768px) {
			font-size: 32px;
			line-height: 36px;
		}
		@media (max-width: 480px) {
			font-size: 24px;
			line-height: 27px;
			margin-bottom: 51px;
		}
	}

	&__items {
		display: flex;
		justify-content: space-between;
		margin: 0 -12px;
		flex-wrap: wrap;

		@media (max-width: 1024px) {
			margin-left: -8px;
			margin-right: -15px;
		}
		@media (max-width: 768px) {
			margin: 0 -10px;
		}
	}

	&__item {
		width: 33.33333%;
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		text-align: center;
		padding: 0 12px;

		@media (max-width: 768px) {
			width: 272px;
		}

		&:not(:last-child) {
			@media (max-width: 768px) {
				margin-bottom: 30px;
			}
			@media (max-width: 480px) {
				margin-bottom: 59px;
			}
		}

		&-img {
			max-width: 100px;
			max-height: 100px;
			margin: 0 auto;
			border-radius: 20px;
			margin-bottom: 27px;

			@media (max-width: 1024px) {
				margin-bottom: 34px;
			}
		}

		&-name {
			font-weight: 400;
			text-align: center;
			color: $colorTitle;
			padding-bottom: 25px;
			margin-bottom: 37px;
			position: relative;

			@media (max-width: 1024px) {
				padding-top: 28px;
				padding-bottom: 0;
				margin-bottom: 13px;
			}
			@media (max-width: 480px) {
				padding-top: 27px;
				margin-bottom: 15px;
			}

			&::after {
				position: absolute;
				content: "";
				width: 200px;
				height: 5px;
				background-color: #3b00dd;
				bottom: 0;
				left: 0;
				right: 0;
				margin: 0 auto;

				@media (max-width: 1024px) {
					top: 0;
					width: 150px;
				}
				@media (max-width: 480px) {
					width: 140px;
				}
			}
		}

		&-text {
			font-size: 16px;
			line-height: 166%;
			text-align: center;
			letter-spacing: 0.15px;
			color: $colorTxt;
		}
	}
}
