.services {
	padding-top: 127px;
	background-image: url("../images/services-bg.png");
	background-size: cover;
	background-repeat: no-repeat;

	@media (max-width: 1024px) {
		padding-top: 64px;
		padding-left: 62px;
	}
	@media (max-width: 640px) {
		padding-top: 74px;
		padding-left: 0;
	}
}

.services-container {
	@media (max-width: 640px) {
		padding: 0;
	}
}

.services__intro {
	@media (max-width: 640px) {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	&-box {
		margin-top: -4px;

		@media (max-width: 1024px) {
			margin-bottom: 59px;
		}
		@media (max-width: 768px) {
			margin-bottom: 138px;
		}
		@media (max-width: 640px) {
			padding: 0 15px;
		}
	}

	&-title {
		@include title-font();
		font-size: 56px;
		line-height: 62px;
		letter-spacing: -0.5px;
		color: #ffffff;
		margin-bottom: 41px;

		@media (max-width: 1024px) {
			margin-bottom: 48px;
		}
		@media (max-width: 768px) {
			font-size: 32px;
			line-height: 32px;
			margin-bottom: 40px;
		}
		@media (max-width: 640px) {
			padding-left: 23px;
		}
		@media (max-width: 480px) {
			font-size: 24px;
			line-height: 27px;
		}
	}

	&-text {
		font-weight: 500;
		font-size: 20px;
		line-height: 166%;
		letter-spacing: 0.25px;
		color: #ffffff;
		max-width: 486px;
		margin-bottom: 35px;

		@media (max-width: 1024px) {
			margin-bottom: 30px;
		}
		@media (max-width: 768px) {
			max-width: 340px;
			margin-bottom: 39px;
		}
		@media (max-width: 480px) {
			font-size: 18px;
			line-height: 30px;
		}
	}

	&-btn {
		padding: 18px 57px 14px 43px;

		@media (max-width: 1024px) {
			padding: 18px 50px 15px 29px;
		}

		&::before {
			right: 29px;

			@media (max-width: 480px) {
				right: 23px;
			}
		}
	}
}

.services__about {
	float: right;
	max-width: 688px;
	background-color: #fff;
	padding: 62px 9px 0 100px;
	position: relative;

	@media (max-width: 1024px) {
		max-width: 586px;
		min-height: 405px;
		padding: 48px 9px 0 49px;
	}
	@media (max-width: 824px) {
		max-width: 400px;
	}
	@media (max-width: 768px) {
		padding: 48px 9px 0 16px;
		min-height: 350px;
	}
	@media (max-width: 640px) {
		padding: 48px 15px 10px 15px;
		position: unset;
		order: 2;
		max-width: 100%;
		min-height: auto;
		float: none;
	}
	@media (max-width: 480px) {
		padding: 48px 9px 0 16px;
	}

	&--position {
		@media (max-width: 640px) {
			position: relative;
		}
	}

	&-title {
		font-size: 14px;
		line-height: 20px;
		letter-spacing: 0.25px;
		color: $colorTxt;
		margin-bottom: 40px;

		@media (max-width: 1024px) {
			margin-bottom: 37px;
		}
	}

	&-items {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-bottom: 37px;

		@media (max-width: 768px) {
			margin-bottom: 0;
		}
	}

	&-item {
		margin-right: 24px;

		@media (max-width: 1024px) {
			margin-right: 10px;
		}
		@media (max-width: 640px) {
			padding: 0 15px;
		}
		@media (max-width: 480px) {
			padding: 0 15px 0 0;
		}
	}
	&-item:not(:last-child) {
		@media (max-width: 1440px) {
			margin-bottom: 33px;
		}
		@media (max-width: 1024px) {
			margin-bottom: 32px;
		}
		@media (max-width: 480px) {
			margin-bottom: 24px;
		}
	}

	&-name {
		font-weight: 700;
		font-size: 20px;
		line-height: 23px;
		letter-spacing: 0.25px;
		color: $colorTitle;
		margin-bottom: 21px;

		@media (max-width: 1024px) {
			margin-bottom: 17px;
		}
	}

	&-list {
		font-size: 14px;
		line-height: 24px;
		letter-spacing: 0.15px;
		color: $colorTitle;

		& li {
			margin-bottom: 8px;

			@media (max-width: 1024px) {
				margin-bottom: 12px;
			}
			@media (max-width: 768px) {
				margin-bottom: 0;
			}
		}
	}

	&-price {
		position: absolute;
		top: -88px;
		right: 0;
		background-color: #0000a0;
		padding: 49px 42px 45px;
		font-weight: 900;
		font-size: 56px;
		line-height: 66px;
		text-align: center;
		letter-spacing: -0.5px;
		color: #ffffff;

		@media (max-width: 1024px) {
			padding: 48px 64px 44px;
		}
		@media (max-width: 768px) {
			top: -64px;
			padding: 35px 44px 36px 51px;
			font-size: 42px;
			line-height: 49px;
		}
		@media (max-width: 640px) {
			top: -113px;
			right: -9px;
		}
	}
}
