.smart-studio {
	padding-top: 120px;
	background-color: #f5f5f5;

	@media (max-width: 1024px) {
		padding-top: 60px;
		padding-bottom: 59px;
	}
	@media (max-width: 640px) {
		padding-top: 59px;
		padding-bottom: 61px;
	}

	&__item {
		display: flex;
		justify-content: space-between;
		margin-bottom: 80px;
		position: relative;

		@media (max-width: 1024px) {
			margin-bottom: 59px;
			flex-direction: row;
		}
		@media (max-width: 640px) {
			flex-direction: column;
		}
	}

	&__img {
		padding-top: 87px;
		position: relative;
		display: block;
		object-fit: cover;

		@media (max-width: 1024px) {
			padding-top: 62px;
			padding-right: 60px;
			width: 49%;
		}
		@media (max-width: 824px) {
			padding-right: 20px;
			width: 55%;
		}
		@media (max-width: 640px) {
			padding-top: 0;
			padding-right: 0;
			width: 100%;
			margin-bottom: 31px;
		}

		&:before {
			position: absolute;
			content: "";
			background-color: #3b00dd;
			width: 78px;
			height: 4px;
			top: 20px;
			left: 0;

			@media (max-width: 1024px) {
				width: 56px;
				top: 26px;
			}
			@media (max-width: 640px) {
				display: none;
			}
		}

		&--even {
			@media (max-width: 1024px) {
				padding-right: 0;
				padding-left: 58px;
			}
			@media (max-width: 824px) {
				padding-left: 20px;
			}
			@media (max-width: 640px) {
				padding-left: 0;
				margin-bottom: 24px;
			}

			&::before {
				right: 0;
				left: auto;
				top: 23px;
			}
		}

		& img {
			@media (max-width: 1024px) {
				min-height: 441px;
				object-fit: cover;
			}
			@media (max-width: 824px) {
				min-height: 389px;
			}
			@media (max-width: 640px) {
				min-height: 289px;
			}
		}
	}

	&__content {
		width: 50%;
		padding-left: 115px;

		@media (max-width: 1024px) {
			width: 51%;
			padding-left: 0;
		}
		@media (max-width: 824px) {
			width: 45%;
			padding-left: 0;
		}
		@media (max-width: 640px) {
			width: 100%;
		}
	}

	&__content--even {
		padding-left: 102px;

		@media (max-width: 1024px) {
			padding-left: 2px;
		}
		@media (max-width: 640px) {
			padding-left: 0;
		}

		.smart-studio__text {
			margin-bottom: 86px;

			@media (max-width: 1024px) {
				margin-bottom: 61px;
			}
			@media (max-width: 640px) {
				margin-bottom: 23px;
			}
		}
	}

	&__title {
		@include title-font();
		font-size: 32px;
		line-height: 36px;
		letter-spacing: 0.25px;
		color: $colorTitle;
		margin-bottom: 51px;

		@media (max-width: 1024px) {
			margin-bottom: 25px;
		}
		@media (max-width: 640px) {
			margin-bottom: 15px;
		}
		@media (max-width: 480px) {
			font-size: 24px;
			line-height: 27px;
			margin-bottom: 21px;
		}
	}

	&__text {
		font-weight: 500;
		font-size: 20px;
		line-height: 166%;
		letter-spacing: 0.25px;
		color: $colorTxt;
		max-width: 375px;
		margin-bottom: 120px;

		@media (max-width: 1024px) {
			max-width: 421px;
			margin-bottom: 60px;
		}
		@media (max-width: 640px) {
			font-size: 16px;
			line-height: 27px;
			margin-bottom: 24px;
		}
	}

	&__btn {
		margin-right: auto;
		padding: 18px 47px 15px 50px;

		&::before {
			right: 23px;

			@media (max-width: 480px) {
				right: 21px;
			}
		}
	}
}

.smart-studio__item--even {
	@media (max-width: 1024px) {
		margin-bottom: 0;
	}

	@media (max-width: 640px) {
		flex-wrap: wrap;
		flex-direction: column-reverse;
	}
}
