[class*="svg-"] { font-size: 20px; position: relative;

	&:before { content: ''; display: block; }

	svg { position: absolute; left: 0; top: 0; width: 100%; height: 100%; }

}

.svg-icons-filled_sent { width: (20/20 * 1em);

	&:before { padding-bottom: 20 / 20 * 100%; }

}

.svg-icons-heart_with_pulse { width: (20/20 * 1em);

	&:before { padding-bottom: 19 / 20 * 100%; }

}

.svg-icons-innovation { width: (19/20 * 1em);

	&:before { padding-bottom: 20 / 19 * 100%; }

}

.svg-icons-logo { width: (157/20 * 1em);

	&:before { padding-bottom: 26 / 157 * 100%; }

}

.svg-icons-marker { width: (14/20 * 1em);

	&:before { padding-bottom: 20 / 14 * 100%; }

}

.svg-icons-natural_food { width: (21/20 * 1em);

	&:before { padding-bottom: 20 / 21 * 100%; }

}

.svg-icons-new-post { width: (20/20 * 1em);

	&:before { padding-bottom: 16 / 20 * 100%; }

}

.svg-icons-phone { width: (18/20 * 1em);

	&:before { padding-bottom: 18 / 18 * 100%; }

}

.svg-icons-planet { width: (19/20 * 1em);

	&:before { padding-bottom: 20 / 19 * 100%; }

}

.svg-icons-play-button { width: (74/20 * 1em);

	&:before { padding-bottom: 74 / 74 * 100%; }

}

.svg-icons-prev-icon { width: (24/20 * 1em);

	&:before { padding-bottom: 24 / 24 * 100%; }

}

.svg-icons-prevblack { width: (25/20 * 1em);

	&:before { padding-bottom: 24 / 25 * 100%; }

}

.svg-socials-facebook { width: (18/20 * 1em);

	&:before { padding-bottom: 18 / 18 * 100%; }

}

.svg-socials-instagram { width: (18/20 * 1em);

	&:before { padding-bottom: 18 / 18 * 100%; }

}

.svg-socials-twitter { width: (18/20 * 1em);

	&:before { padding-bottom: 18 / 18 * 100%; }

}

