// Color palette
$colorTitle: rgba(0, 0, 0, 0.87);
$colorSbTitle: #03DAC4;
$colorTxt: rgba(0, 0, 0, 0.6);

@mixin title-font($fWeight: 700) {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: $fWeight;
}
