.apartments {
    padding: 67px 0 127px;
    background-color: #F5F5F5;

    &-breadcrumbs__list {
        display: flex;
        margin-bottom: 64px;
    }

    &-breadcrumbs__item:not(:last-child)::after {
        content: "/";
        margin-left: 4px;
        margin-right: 4px;
        font-size: 32px;
        @extend %title-font;
        border-radius: 2px;
    }

    &-breadcrumbs__link {
        font-size: 14px;
        color: $colorTitle;
        @extend %title-font;
        font-size: 32px;
        line-height: 36px;
        letter-spacing: 0.25px;
    }

    &-card {
        display: flex;
        // flex-wrap: wrap;
        justify-content: space-between;

        &__item {
            width: 31%;
            display: flex;
            flex-direction: column;

            &-header {
                position: relative;
                margin-bottom: 24px;
            }

            &-photo {
                display: block;
                width: 100%;
                height: auto;
            }

            &-number {
                position: absolute;
                bottom: 0;
                right: 0;
                z-index: 1;
                padding-top: 18px;
                background-color: #fff;
                width: 60px;
                height: 60px;
                font-weight: 500;
                font-size: 20px;
                line-height: 23px;
                text-align: center;
                letter-spacing: 0.25px;
                color: $colorTitle;
            }

            &-content {
                flex: 1 1 auto;
            }

            &-title {
                @extend %title-font;
                font-size: 24px;
                line-height: 27px;
                color: $colorTitle;
                margin-bottom: 21px;
            }

            &-text {
                font-size: 16px;
                line-height: 166%;
                letter-spacing: 0.15px;
                color: $colorTxt;
                margin-bottom: 20px;
            }

            &-btn {
                display: block;
                margin-right: auto;
            }

            &-btn--white {
                background-color: #fff;
                color: $colorTxt;

                &::before {
                    background-image: url(../images/prevblack.svg);
                }
            }
        }
    }
}