.smart-studio {
    padding-top: 120px;
    background-color: #F5F5F5;

    &__item {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 80px;
        position: relative;

        &:last-child {
            margin-bottom: 0;
        }

        &:nth-child(even) {
            flex-direction: row-reverse;
        } 
    }

    &__img {
        padding-top: 87px;
        max-width: 100%;
        position: relative;
        display: block;

        &:before {
            position: absolute;
            content: '';
            background-color: #3B00DD;
            width: 78px;
            height: 4px;
            top: 0;
            left: 0;
        }

        &--even::before {
            right: 0;
            left: auto;
        }

        &--odd::before {
            left: 0;
            right: auto;
        }
    }

    &__content {
        max-width: 385px;
    }

    &__title {
        @extend %title-font;
        font-size: 32px;
        line-height: 36px;
        letter-spacing: 0.25px;
        color: $colorTitle;
        margin-bottom: 40px;
    }

    &__text {
        font-weight: 500;
        font-size: 20px;
        line-height: 166%;
        letter-spacing: 0.25px;
        color: $colorTxt;
        margin-bottom: 110px;
    }

    &__btn {
        margin-right: auto;
    }
}