@font-face {
    font-family: 'Comfortaa';
    src: url('../fonts/comfortaa.woff2') format('woff2'),
        url('../fonts/comfortaa.woff') format('woff'),
        url('../fonts/comfortaa.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Comfortaa';
    src: url('../fonts/comfortaabold.woff2') format('woff2'),
        url('../fonts/comfortaabold.woff') format('woff'),
        url('../fonts/comfortaabold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

.smart-studio {
    padding-top: 120px;
    background-color: #F5F5F5;
}

.smart-studio__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 80px;
    position: relative;
}

.smart-studio__item:last-child {
    margin-bottom: 0;
}

.smart-studio__item:nth-child(even) {
    flex-direction: row-reverse;
} 

.smart-studio__img {
    padding-top: 87px;
    max-width: 100%;
    position: relative;
    display: block;
}

.smart-studio__img:before {
    position: absolute;
    content: '';
    background-color: #3B00DD;
    width: 78px;
    height: 4px;
    top: 0;
    left: 0;
}

.smart-studio__img--even::before {
    right: 0;
    left: auto;
}

.smart-studio__img-odd::before {
    left: 0;
    right: auto;
}

.smart-studio__content {
    max-width: 385px;
}

.smart-studio__title {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 0.25px;
    color: rgba(0, 0, 0, 0.87);
    margin-bottom: 40px;
}

.smart-studio__text {
    font-weight: 500;
    font-size: 20px;
    line-height: 166%;
    letter-spacing: 0.25px;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 110px;
}

.feature {
    padding: 120px 0 117px;
    text-align: center;
}

.feature-intro {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.feature__subtitle {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.25px;
    color: #03DAC4;
    margin-bottom: 13px;
}

.feature__title {
    max-width: 560px;
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
    text-align: center;
    color: rgba(0, 0, 0, 0.87);
    margin: 0 auto;
    padding-bottom: 65px;
}

.feature-intro__popup-box {
    width: 587px;
    margin-right: 24px;
    position: relative;
}

.feature-intro__popup-item {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.feture-intro__items-box {
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.feture-intro__item {
    width: 50%;
    width: 290px;
    margin-bottom: 80px;
    text-align: left;
    position: relative;
}

.feture-intro__item-img {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    margin-right: 16px;
    width: 20px;
    height: 20px;
}

.feture-intro__item-img--natural {
    background-image: url('../images/natural_food.svg');
}

.feture-intro__item-img--innovation {
    background-image: url('../images/innovation.svg');
}

.feture-intro__item-img--heart {
    background-image: url('../images/heart_with_pulse.svg');
}

.feture-intro__item-img--planet {
    background-image: url('../images/planet.svg');
}

.feture-intro__item-title {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 0.25px;
    color: rgba(0, 0, 0, 0.87);
    margin-bottom: 21px;
    padding-left: 36px;
}

.feture-intro__item-text {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.6);
}