.footer {
    background-color: #F5F5F5;
}

.footer-inner {
    padding: 100px 0 97px;
    display: flex;
}

.footer-inner__left {
    width: 50%;
}

.footer-inner__left-logo {
    display: inline-block;
    margin-bottom: 36px;
}

.footer-inner__left-text {
    max-width: 377px;
    font-weight: 500;
    font-size: 20px;
    line-height: 166%;
    letter-spacing: 0.25px;
    color: rgba(0, 0, 0, 0.6);
}

.footer-inner__right {
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.footer-inner__menu {
    margin-right: 124px;
}

.footer-inner__menu-tittle,
.footer-inner__social-tittle {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #03DAC4;
    margin-bottom: 32px;
}

.footer-inner__menu-item,
.footer-inner__social-item {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.87);
    margin-bottom: 30px;
    transition: color .2s linear;
}

.footer-inner__menu-item:hover,
.footer-inner__social-item:hover {
    color: #3B00DD;
}

.footer-inner__social {
    margin-right: 120px;
}

.footer-hr {
    display: inline-block;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.38);
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    padding: 20px 0 34px;
}

.footer-bottom__copyright {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.6);
    padding-top: 21px;
}

.footer-bottom__form {
    display: flex;
}

.footer-bottom__text {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.25px;
    color: rgba(0, 0, 0, 0.87);
    padding-top: 24px;
    margin-right: 23px;
}

.footer-bottom__fieldset {
    padding: 0;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(25, 25, 25, 0.32);
    border-radius: 4px;
    width: 384px;
    height: 66px;
    position: relative;
}

.footer-bottom__legend {
    margin-left: 8px;
}

.footer-bottom__input {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;
    display: block;
    width: 100%;
    padding: 8px 45px 8px 19px;
    font-size: 18px;
}

.footer-bottom__btn {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}