<section class="apartmentsbs">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Комнаты</a></li>
                <li class="breadcrumb-item active" aria-current="page">Аппартаменты</li>
            </ol>
        </nav>
        <div class="row justify-content-center">
            <div class="card-item col-lg-4 col-md-6 col-sm-12">
                <div class="card h-100">
                    <div class="card-header position-relative">
                        <img src="./images/apartmens/card-1.png" class="card-img-top" alt="images">
                        <span class="position-absolute bottom-0 end-0 translate-middle p-3 bg-light">
                            01
                        </span>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Суперлюкс</h5>
                        <p class="card-text">Уютный дом с прекрасным видом на горы.</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn header__content-btn header__content-btn--white">Подробнее</a>
                    </div>
                </div>
            </div>
            <div class="card-item col-lg-4 col-md-6 col-sm-12">
                <div class="card h-100">
                    <div class="card-header position-relative">
                        <img src="./images/apartmens/card-2.png" class="card-img-top" alt="images">
                        <span class="position-absolute bottom-0 end-0 translate-middle p-3 bg-light">
                            02
                        </span>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Люкс</h5>
                        <p class="card-text">Дом с выходом во двор. Есть мангал. Замечательный отдых для всей семьи.</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn header__content-btn">Подробнее</a>
                    </div>
                </div>
            </div>
            <div class="card-item col-lg-4 col-md-6 col-sm-12">
                <div class="card h-100">
                    <div class="card-header position-relative">
                        <img src="./images/apartmens/card-3.png" class="card-img-top" alt="images">
                        <span class="position-absolute bottom-0 end-0 translate-middle p-3 bg-light">
                            03
                        </span>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Аппартаменты</h5>
                        <p class="card-text">
                            Отдельно стоящий дом класса Luxure с террасой и бассейном. Чудесный вид на закат 
                            солнца добавит романтики в ваши отношения. Это лучшее место для проведения медового 
                            месяца! 
                        </p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn header__content-btn header__content-btn--white">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>