<section class="apartments">
    <div class="container">
        <ul class="apartments-breadcrumbs__list">
            <li class="apartments-breadcrumbs__item">
                <a class="apartments-breadcrumbs__link" href="#">Комнаты</a>
            </li>
            <li class="apartments-breadcrumbs__item">
                <a class="apartments-breadcrumbs__link" href="#">Аппартаменты</a>
            </li>
        </ul>
        <div class="apartments-card">
            <div class="apartments-card__item">
                <div class="apartments-card__item-header">
                    <a href="#">
                        <img class="apartments-card__item-photo" src="./images/apartmens/card-1.png" 
                        alt="images">
                    </a>
                    <div class="apartments-card__item-number">01</div>
                </div>
                <div class="apartments-card__item-content">
                    <h4 class="apartments-card__item-title">Суперлюкс</h4>
                    <p class="apartments-card__item-text">
                        Уютный дом с прекрасным видом на горы.
                    </p>
                </div>
                <a class="apartments-card__item-btn apartments-card__item-btn--white header__content-btn" 
                href="#" >Подробнее</a>
            </div>
            <div class="apartments-card__item">
                <div class="apartments-card__item-header">
                    <a href="#">
                        <img class="apartments-card__item-photo" src="./images/apartmens/card-2.png" 
                        alt="images">
                    </a>
                    <div class="apartments-card__item-number">02</div>
                </div>
                <div class="apartments-card__item-content">
                    <h4 class="apartments-card__item-title">Люкс</h4>
                    <p class="apartments-card__item-text">
                        Дом с выходом во двор. Есть мангал. Замечательный отдых для всей семьи.
                    </p>
                </div>
                <a class="apartments-card__item-btn header__content-btn" href="#" >Подробнее</a>
            </div>
            <div class="apartments-card__item">
                <div class="apartments-card__item-header">
                    <a href="#">
                        <img class="apartments-card__item-photo" src="./images/apartmens/card-3.png" 
                        alt="images">
                    </a>
                    <div class="apartments-card__item-number">03</div>
                </div>
                <div class="apartments-card__item-content">
                    <h4 class="apartments-card__item-title">Аппартаменты</h4>
                    <p class="apartments-card__item-text">
                        Отдельно стоящий дом класса Luxure с террасой и бассейном. Чудесный вид на закат 
                        солнца добавит романтики в ваши отношения. Это лучшее место для проведения медового 
                        месяца! 
                    </p>
                </div>
                <a class="apartments-card__item-btn apartments-card__item-btn--white header__content-btn" 
                href="#" >Подробнее</a>
            </div>
        </div>
    </div>
</section>

