<section class="contacts">
    <div class="contacts-container container">
        <h2 class="contacts-title">Контакты</h2>
        <div class="contacts-row">
            <div class="contacts-form">
                <div class="contacts-form__title">
                    <h4 class="contacts-form__title-text">Связаться с нами</h4>
                    <a class="contacts-form__title-email" href="mailto:cosmic@lectrum.io ">cosmic@lectrum.io</a>
                </div>
                <form class="contacts-form__box">
                    <fieldset class="contacts-form__box-fieldset">
                        <legend class="contacts-form__box-legend">Имя</legend>
                        <input class="contacts-form__box-input" type="text">
                    </fieldset>
                    <fieldset class="contacts-form__box-fieldset">
                        <legend class="contacts-form__box-legend">Почта</legend>
                        <input class="contacts-form__box-input" type="email">
                    </fieldset>
                    <fieldset class="contacts-form__box-fieldset">
                        <legend class="contacts-form__box-legend">Сообщение</legend>
                        <textarea class="contacts-form__box-area"></textarea>
                    </fieldset>
                    <button class="header__content-btn contacts-form__box-btn" type="submit">Отправить</button>
                </form>
            </div>
            <div class="contacts-map">
                <div class="contacts-map__box">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d82067.13031237871!2d23.837400686189795!3d50.00014920079106!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473b267e415ec371%3A0xa1740e1b32e1349!2z0YEuINCc0LDQudC00LDQvQ!5e0!3m2!1sru!2sua!4v1634742866331!5m2!1sru!2sua" width="588" height="331" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
                <div class="contacts-map__company">
                    <div class="contacts-map__location">
                        <h4 class="contacts-map__location-title">Найти нас</h4>
                        <address class="contacts-map__location-address">с. Майдан <br> Львовская обл.</address>
                    </div>
                    <div class="contacts-map__call">
                        <h4 class="contacts-map__call-title">Телефоны</h4>
                        <a class="contacts-map__call-phone" href="tel:+380971234567">+380 97 123 45 67</a>
                        <a class="contacts-map__call-phone" href="tel:+380991234567">+380 99 123 45 67</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>