<section class="event">
    <div class="container event-container">
        <div class="event__intro">
            <div class="slider" data-slider>
                <div class="slider__item">
                    <div class="event__intro-top">
                        <img class="event__intro-img" data-lazy="./images/event-bg.jpg" alt="event images">
                        <time datetime="2021-06-01">01/06</time>
                    </div>
                </div>
                <div class="slider__item">
                    <div class="event__intro-top">
                        <img class="event__intro-img" data-lazy="./images/studio.jpg" alt="event images">
                        <time datetime="2021-06-01">02/06</time>
                    </div>
                </div>
                <div class="slider__item">
                    <div class="event__intro-top">
                        <img class="event__intro-img" data-lazy="./images/services-bg.png" alt="event images">
                        <time datetime="2021-06-01">03/06</time>
                    </div>
                </div>
            </div>
            <div class="event__intro-box">
                <h4 class="event__intro-title">Ивенты</h4>
                <p class="event__intro-text">
                    У нас вы можете провести любые ивенты, начиная с дней рождений и до закрытых корпоративов.
                </p>
                <p class="event__intro-text">
                    Наш креативный ивент — менеджер поможет вам в этом. Закажите нас на сайте.
                </p>
            </div>
        </div>
    </div>
</section>

