<section class="feature">
    <div class="container feature-container">
        <h5 class="feature__subtitle">
            Медовый месяц и семейный отдых
        </h5>
        <h2 class="feature__title">
            МОЖНО ПОСМОТРЕТЬ НАС <br> ПРЯМО СЕЙЧАС
        </h2>
        <div class="feature-intro">
            <div class="feature-intro__popup">
                <img class="feature-intro__popup-img" src="./images/feature-popup.jpg" alt="feature 
                popup">
                <a class="feature-intro__popup-item" href="#">
                    <div class="svg-icons-play-button feature-intro__popup-play">
                        <svg>
                            <use xlink:href="#svg-icons-play-button"></use>
                        </svg>
                    </div>
                </a>
            </div>
            <div class="feature-intro__items-box">
                <div class="feature-intro__item">
                    <div class="svg-icons-natural_food feature-intro__item-img feature-intro__item-img--natural">
                        <svg>
                            <use xlink:href="#svg-icons-natural_food"></use>
                        </svg>
                    </div>
                    <h5 class="feature-intro__item-title">
                        Кухня — студия
                    </h5>
                    <p class="feature-intro__item-text">
                        Расположена на первом этаже с видовыми окнами с двух сторон.
                    </p>
                </div>
                <div class="feature-intro__item">
                    <div class="svg-icons-innovation feature-intro__item-img feature-intro__item-img--innovation">
                        <svg>
                            <use xlink:href="#svg-icons-innovation"></use>
                        </svg>
                    </div>
                    <h5 class="feature-intro__item-title">
                        Ванная комната
                    </h5>
                    <p class="feature-intro__item-text">
                        Возле спальни расположена ванная комната с душевой кабинкой и санузлом. 
                    </p>
                </div>
                <div class="feature-intro__item">
                    <div class="svg-icons-heart_with_pulse feature-intro__item-img feature-intro__item-img--heart">
                        <svg>
                            <use xlink:href="#svg-icons-heart_with_pulse"></use>
                        </svg>
                    </div>
                    <h5 class="feature-intro__item-title">
                        Спальни
                    </h5>
                    <p class="feature-intro__item-text">
                        Основная спальня находится на первом этаже и гостевая комната на втором.
                    </p>
                </div>
                <div class="feature-intro__item">
                    <div class="svg-icons-planet feature-intro__item-img feature-intro__item-img--planet">
                        <svg>
                            <use xlink:href="#svg-icons-planet"></use>
                        </svg>
                    </div>
                    <h5 class="feature-intro__item-title">
                        Техническое помещение
                    </h5>
                    <p class="feature-intro__item-text">
                        Бытовка с отдельным входом расположена за стеной основной спальни.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>