
<footer class="footer">
    <div class="container">
        <div class="footer-inner">
            <div class="footer-inner__left">
                <strong class="footer-inner__left-logo">
                    <a href="/">
                        <div class="svg-icons-logo">
                            <svg>
                                <use xlink:href="#svg-icons-logo"></use>
                            </svg>
                        </div>
                    </a>
                </strong>
                <p class="footer-inner__left-text">
                    Мы будем рады видеть вас у нас в отеле. Думаем, что время проведенное у нас оставит 
                    незабываемые и приятные впечатления. Ждем вас!
                </p>
            </div>
            <div class="footer-inner__right">
                <nav class="footer-inner__menu">
                    <h5 class="footer-inner__menu-tittle">Меню</h5>
                    <ul class="footer-inner__menu-list">
                        <li class="footer-inner__menu-item">
                            <a class="footer-inner__menu-link" href="#">Главная</a>
                        </li>
                        <li class="footer-inner__menu-item">
                            <a class="footer-inner__menu-link" href="#">О нас</a>
                        </li>
                        <li class="footer-inner__menu-item">
                            <a class="footer-inner__menu-link" href="#">Блог</a>
                        </li>
                        <li class="footer-inner__menu-item">
                            <a class="footer-inner__menu-link" href="#">Контакты</a>
                        </li>
                    </ul>
                </nav>
                <div class="footer-inner__social">
                    <h5 class="footer-inner__social-tittle">Следи за нами</h5>
                    <ul class="footer-inner__social-list">
                        <li class="footer-inner__social-item">
                            <a class="footer-inner__social-link" href="#">Facebook</a>
                        </li>
                        <li class="footer-inner__social-item">
                            <a class="footer-inner__social-link" href="#">Twitter</a>
                        </li>
                        <li class="footer-inner__social-item">
                            <a class="footer-inner__social-link" href="#">Instagram</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <span class="footer-hr"></span>
    <div class="container">
        <div class="footer-bottom">
            <p class="footer-bottom__copyright">&copy;2020 Все права защищены</p>
            <form class="footer-bottom__form">
                <h5 class="footer-bottom__text">
                    Подписаться на рассылку
                </h5>
                <fieldset class="footer-bottom__fieldset">
                    <legend class="footer-bottom__legend">Почта</legend>
                    <input class="footer-bottom__input" type="email">
                    <button class="footer-bottom__btn" type="submit">
                        <div class="svg-icons-filled_sent">
                            <svg>
                                <use xlink:href="#svg-icons-filled_sent"></use>
                            </svg>
                        </div>
                    </button>
                </fieldset>
            </form>
        </div>
    </div>
</footer>
