<header class="header">
    <div class="header__top">
        <strong class="header__logo">
            <a href="/">
                <div class="svg-icons-logo">
                    <svg>
                        <use xlink:href="#svg-icons-logo"></use>
                    </svg>
                </div>
            </a>
        </strong>
        <a href="#" class="header__burger">
            <span></span>
        </a>
        <nav class="header__menu">
            <ul class="header__menu-list">
                <li class="header__menu-item">
                    <a class="header__menu-link" href="#">Главная</a>
                </li>
                <li class="header__menu-item">
                    <a class="header__menu-link" href="#">О нас</a>
                </li>
                <li class="header__menu-item">
                    <a class="header__menu-link" href="#">Блог</a>
                </li>
                <li class="header__menu-item">
                    <a class="header__menu-link" href="#">Контакты</a>
                </li>
            </ul>
            <div class="header__social">
                <ul class="header__social-list">
                    <li class="header__social-item">
                        <a class="header__social-link" href="#">
                            <div class="svg-socials-facebook">
                                <svg>
                                    <use xlink:href="#svg-socials-facebook"></use>
                                </svg>
                            </div>
                        </a>
                    </li>
                    <li class="header__social-item">
                        <a class="header__social-link" href="#">
                            <div class="svg-socials-twitter">
                                <svg>
                                    <use xlink:href="#svg-socials-twitter"></use>
                                </svg>
                            </div>
                        </a>
                    </li>
                    <li class="header__social-item">
                        <a class="header__social-link" href="#">
                            <div class="svg-socials-instagram">
                                <svg>
                                    <use xlink:href="#svg-socials-instagram"></use>
                                </svg>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>