<section class="intro">
    <div class="intro__content">
        <h1 class="intro__content-title">
            Космический отдых на склонах Карпат: смотрим на звёзды из окна отеля
        </h1>
        <p class="intro__content-text">
            Наш мини — отель расположен &nbsp;на околице города Львова и рассчитан на 30 человек
        </p>
        <a href="#" class="header__content-btn">Подробнее</a>
    </div>
    <div class="intro__photo">
        <img class="intro__photo-bg" src="./images/intro-bg.jpg" alt="intro photo">
        <p class="intro__photo-scroll">Вниз</p>
        <img class="intro__photo-mouse" src="./images/mouse-icon.png" alt="mouse icon" >
    </div>
</section>