<section class="portfolio">
    <div class="container">
        <h2 class="portfolio__title">Портфолио</h2>
        <div class="portfolio__items">
            <a class="portfolio__item portfolio__item--big" href="#">
                <img src="./images/portfolio/port-1.jpg" alt="images">
            </a>
            <a class="portfolio__item" href="#">
                <img src="./images/portfolio/port-2.jpg" alt="images">
            </a>
            <a class="portfolio__item" href="#">
                <img src="./images/portfolio/port-3.jpg" alt="images">
            </a>
            <a class="portfolio__item portfolio__item--big" href="#">
                <img src="./images/portfolio/port-4.jpg" alt="images">
            </a>
            <a class="portfolio__item" href="#">
                <img src="./images/portfolio/port-5.jpg" alt="images">
            </a>
            <a class="portfolio__item" href="#">
                <img src="./images/portfolio/port-6.jpg" alt="images">
            </a>
        </div>
    </div>
</section>