<section class="reviews">
    <div class="container">
        <h2 class="reviews__title">Отзывы</h2>
        <div class="reviews__items">
            <div class="reviews__item">
                <img class="reviews__item-img" src="./images/user/reviews-1.jpg" alt="avatar">
                <h4 class="reviews__item-name">Иван Вакуленко</h4>
                <p class="reviews__item-text">
                    Прекрасное место! Провели время СУПЕР!!! Спасибо вам огромное!
                </p>
            </div>
            <div class="reviews__item">
                <img class="reviews__item-img" src="./images/user/reviews-2.jpg" alt="avatar">
                <h4 class="reviews__item-name">Марианна Домницкая</h4>
                <p class="reviews__item-text">
                    Домик замечательный! Чудесно провели время! Приедем ещё!!!
                </p>
            </div>
            <div class="reviews__item">
                <img class="reviews__item-img" src="./images/user/reviews-3.jpg" alt="avatar">
                <h4 class="reviews__item-name">Артур Гольдман</h4>
                <p class="reviews__item-text">
                    Спасибо за "космический" отдых!!!
                </p>
            </div>
        </div>
    </div>
</section>