<section class="services">
    <div class="services-container container">
        <div class="services__intro clearfix">
            <div class="services__intro-box">
                <h2 class="services__intro-title">Стоимость услуг</h2>
                <p class="services__intro-text">
                    Наш мини — отель может предоставить отличный сервис. Кроме этого есть  дополнительные услуги.
                </p>
                <a class="services__intro-btn header__content-btn" href="#" >Подробнее</a>
            </div>
            <div class="services__about">
                <div class="services__about--position">
                    <h5 class="services__about-title">Услуги</h5>
                    <div class="services__about-items">
                        <div class="services__about-item">
                        <h4 class="services__about-name">300 Мб/сек</h4>
                        <ul class="services__about-list">
                            <li>Быстрый интернет</li>
                            <li>Зона wi-fi</li>
                        </ul>
                    </div>
                    <div class="services__about-item">
                        <h4 class="services__about-name">24/7</h4>
                        <ul class="services__about-list">
                            <li>Охраняемая парковка</li>
                            <li>Закрытая территория</li>
                        </ul>
                    </div>
                    <div class="services__about-item">
                        <h4 class="services__about-name">7 дней</h4>
                        <ul class="services__about-list">
                            <li>Европейский завтрак</li>
                            <li>Уборка номера</li>
                        </ul>
                    </div>
                    <div class="services__about-item">
                        <h4 class="services__about-name">14 дней</h4>
                        <ul class="services__about-list">
                            <li>Встреча гостей</li>
                            <li>Трансфер из аэропорта</li>
                        </ul>
                    </div>
                </div>
                <div class="services__about-price">$90</div>
                </div>
            </div>
        </div>
    </div>
</section>

