<section class="smart-studio">
    <div class="container">
        <div class="smart-studio__item">
            <div class="smart-studio__img smart-studio__img--odd">
                <img src="./images/smart.jpg" alt="smart">
            </div>
            <div class="smart-studio__content">
                <h2 class="smart-studio__title">SMART</h2>
                <p class="smart-studio__text">
                    При входе в дом расположен умный центр управленияя домом: климат — контроль, система 
                    безопасности, управление электрикой и др.
                </p>
                <a class="smart-studio__btn header__content-btn" href="#" >Подробнее</a>
            </div>
        </div>
        <div class="smart-studio__item smart-studio__item--even">
            <div class="smart-studio__content smart-studio__content--even">
                <h2 class="smart-studio__title">STUDIO</h2>
                <p class="smart-studio__text">
                    Основным пространством дома явлется кухня — студия с большими панорамными окнами. Из 
                    окон открывается прекрасный вид на горный ландшафт.
                </p>
                <a class="smart-studio__btn header__content-btn" href="#" >Подробнее</a>
            </div>
            <div class="smart-studio__img smart-studio__img--even">
                <img src="./images/studio.jpg" alt="studio">
            </div>
        </div>
    </div>
</section>

