.contacts {
    text-align: center;
    padding: 107px 0 145px;

    &-title {
        @include title-font();
        font-size: 46px;
        line-height: 51px;
        text-align: center;
        color: $colorTitle;
        margin-bottom: 86px;
    }

    &-row {
        display: flex;
    }
}

.contacts-form {
    width: 588px;
    margin-right: 15px;
    display: inline-block;
    padding: 48px 102px 40px 102px;

    &__title {
        text-align: left;
        margin-bottom: 47px;
    }

    &__title-text {
        display: inline-block;
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 0.25px;
        color: $colorTitle;
        text-align: left;
    }

    &__title-email {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.25px;
        color: $colorTxt;
        padding-left: 30px;
        margin-left: 42px;
        position: relative;

        &::before {
            position: absolute;
            content: " ";
            top: 0;
            left: 0;
            width: 20px;
            height: 16px;
            background-image: url(../../images/sprite_src/sprites/icons/new-post.svg);
        }
    }

    &__box {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: end;

        &-fieldset {
            padding: 0;
            font-size: 12px;
            line-height: 24px;
            letter-spacing: 0.15px;
            color: rgba(0, 0, 0, 0.6);
            border: 1px solid rgba(25, 25, 25, 0.32);
            border-radius: 4px;
            width: 384px;
            height: 66px;
            text-align: left;
            margin-bottom: 16px;
        }

        &-legend {
            margin-left: 11px;
        }

        &-input {
            border: none;
            background-color: transparent;
            cursor: pointer;
            display: block;
            width: 100%;
            padding: 8px 45px 8px 19px;
            font-size: 18px;
            line-height: 24px;
            letter-spacing: 0.15px;
            color: $colorTitle;
        }

        &-area {
            resize: none;
            border: none;
            background-color: transparent;
            cursor: pointer;
            display: block;
            width: 100%;
            padding: 2px 45px 2px 19px;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.15px;
            color: $colorTitle;
            height: 45px;
        }

        &-btn {
            margin-top: 33px;
            width: 180px;
            position: unset;
            padding: 16px 17px;
            text-align: center;
        }
    }
}

.contacts-map {
    display: inline-block;
    width: 588px;
    box-shadow: 0px 24px 38px rgba(0, 0, 0, 0.14),
    0px 9px 46px rgba(0, 0, 0, 0.12),
    0px 11px 15px rgba(0, 0, 0, 0.2);

    &__company {
        text-align: left;
        display: flex;
        padding: 41px 45px 37px 25px;
    }

    &__location {
        padding-left: 38px;
        width: 241px;
        margin-right: 56px;

        &-title {
            font-weight: 500;
            font-size: 20px;
            line-height: 23px;
            letter-spacing: 0.25px;
            color: $colorTitle;
            margin-bottom: 12px;
            position: relative;

            &::before {
                position: absolute;
                content: " ";
                top: 0;
                left: -38px;
                width: 14px;
                height: 20px;
                background-image: url(../../images/sprite_src/sprites/icons/marker.svg);
            }
        }

        &-address {
            font-style: normal;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.15px;
            color: $colorTxt;
        }
    }

    &__call {
        width: 221px;
        padding-left: 42px;

        &-title {
            font-weight: 500;
            font-size: 20px;
            line-height: 23px;
            letter-spacing: 0.25px;
            color: $colorTitle;
            margin-bottom: 12px;
            position: relative;

            &::before {
                position: absolute;
                content: " ";
                top: 0;
                left: -42px;
                width: 18px;
                height: 18px;
                background-image: url(../../images/sprite_src/sprites/icons/phone.svg);
            }
        }

        &-phone {
            display: block;
            font-style: normal;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.15px;
            color: rgba(0, 0, 0, 0.6);
        }
    }
}