.event {
    background-color: #f5f5f5;
    padding: 159px 0 297px;
}

.event__intro {
    position: relative;

    &-img {
        top: 0;
        left: 0;
        width: 100%;
        max-width: 894px;
        max-height: 504px;
        object-fit: cover;
    }

    & time {
        position: absolute;
        top: 0;
        right: 220px;
        margin-left: 24px;
        color: $colorTitle;
    }

    &-btn {
        position: absolute;
        bottom: -97px;
        left: 304px;
        padding: 42px 57px 39px;
        border-radius: 0;

        &::before {
            position: absolute;
            content: " ";
            top: 36px;
            right: 30px;
        }
    }

    &-box {
        position: absolute;
        bottom: -130px;
        right: 0;
        background-color: #03DAC4;
        max-width: 690px;
        padding: 70px 102px 90px 102px;
        box-shadow: 0px 24px 38px rgba(0, 0, 0, 0.14),
            0px 9px 46px rgba(0, 0, 0, 0.12),
            0px 11px 15px rgba(0, 0, 0, 0.2);
    }

    &-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 0.25px;
        color: $colorTitle;
        margin-bottom: 41px;
    }

    &-text {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.15px;
        color: $colorTitle;
    }
}
