.feature {
    padding: 120px 0 117px;
    text-align: center;

    &-intro {
        display: flex;
        justify-content: space-between;

        &__popup {
            width: 587px;
            margin-right: 24px;
            position: relative;
        }
        
        &__popup-item {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        &__items-box {
            width: 50%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        &__item {
            width: 50%;
            width: 290px;
            margin-bottom: 80px;
            text-align: left;
            position: relative;

            &-img {
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                margin-right: 16px;
                width: 20px;
                height: 20px;

                &--natural {
                    background-image: url('../../images/sprite_src/sprites/icons/natural_food.svg');
                }
                &--innovation {
                    background-image: url('../../images/sprite_src/sprites/icons/innovation.svg');
                }
                &--heart {
                    background-image: url('../../images/sprite_src/sprites/icons/heart_with_pulse.svg');
                }
                &--planet {
                    background-image: url('../../images/sprite_src/sprites/icons/planet.svg');
                }
            }

            &-title {
                @include title-font(400);
                font-size: 20px;
                line-height: 22px;
                letter-spacing: 0.25px;
                color: $colorTitle;
                margin-bottom: 21px;
                padding-left: 36px;
            }

            &-text {
                font-weight: normal;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.15px;
                color: $colorTxt;
            }
        }
    }

    &__subtitle {
        @include title-font();
        font-size: 20px;
        line-height: 22px;
        text-align: center;
        letter-spacing: 0.25px;
        color: $colorSbTitle;
        margin-bottom: 13px;
    }

    &__title {
        max-width: 560px;
        @include title-font();
        font-size: 32px;
        line-height: 36px;
        text-align: center;
        color: $colorTitle;
        margin: 0 auto;
        padding-bottom: 65px;
    }
}