#wrapper {
    overflow: hidden;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    flex: 1 1 auto;
}

.page {
    overflow: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #000;
}

.container {
    width: 100%;
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

.header__content-btn {
    padding: 17px 64px 15px 30px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #3B00DD;
    border-radius: 4px;
    position: relative;
    transition: background-color 0.2s linear;

    &::before {
        position: absolute;
        content: " ";
        top: 11px;
        right: 40px;
        width: 24px;
        height: 24px;
        background-image: url(../../images/sprite_src/sprites/icons/prev-icon.svg);
    }

    &:hover {
        background-color: #724bdd;
    }
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}