.portfolio {
    padding: 112px 0 120px;

    &__title {
        text-align: center;
        @include title-font();
        font-size: 46px;
        line-height: 51px;
        color: $colorTitle;
        margin-bottom: 146px;
    }

    &__items {
        display: grid;
        gap: 24px;
        grid-template-columns: repeat(4, 282px);
        grid-template-rows: repeat(3, 282px);
    }

    &__item {
        position: relative;
        background-color: $colorSbTitle;;
        
        & img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__item--big {
        grid-column: span 2;
        grid-row: span 2;
    }
}