.reviews {
    padding: 107px 0 122px;

    &__title {
        text-align: center;
        @include title-font();
        font-size: 46px;
        line-height: 51px;
        color: $colorTitle;
        margin-bottom: 90px;
    }

    &__items {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        width: 33.33333%;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 0 12px;

        &-img {
            max-width: 100px;
            max-height: 100px;
            margin: 0 auto;
            border-radius: 20px;
            margin-bottom: 25px;
        }

        &-name {
            font-weight: 400;
            text-align: center;
            color: $colorTitle;
            padding-bottom: 25px;
            margin-bottom: 35px;
            position: relative;

            &::after {
                position: absolute;
                content: '';
                width: 200px;
                height: 5px;
                background-color: #3B00DD;
                bottom: 0;
                left: 0;
                right: 0;
                margin: 0 auto;
            }
        }

        &-text {
            font-size: 16px;
            line-height: 166%;
            text-align: center;
            letter-spacing: 0.15px;
            color: $colorTxt;
        }
    }
}