.services {
    padding-top: 123px;
    background-image: url(../../images/services-bg.png);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}

.services__intro {
    &-box {
        margin-bottom: 15px;
    }

    &-title {
        @include title-font();
        font-size: 56px;
        line-height: 62px;
        letter-spacing: -0.5px;
        color: #FFFFFF;
        margin-bottom: 41px;
    }

    &-text {
        font-weight: 500;
        font-size: 20px;
        line-height: 166%;
        letter-spacing: 0.25px;
        color: #FFFFFF;
        max-width: 486px;
        margin-bottom: 35px;
    }
}

.services__about {
    float: right;
    max-width: 688px;
    background-color: #fff;
    padding: 61px 9px 0 100px;
    position: relative;
    margin-bottom: -1px;

    &-title {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.25px;
        color: $colorTxt;
        margin-bottom: 40px;
    }

    &-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    &-item {
        margin-right: 24px;
        margin-bottom: 40px;
    }

    &-name {
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 0.25px;
        color: $colorTitle;
        margin-bottom: 21px;
    }

    &-list {
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.15px;
        color: $colorTitle;

        & li {
            margin-bottom: 8px;
        }
    }

    &-price {
        position: absolute;
        top: -80px;
        right: 0;
        background-color: #0000A0;
        padding: 47px 42px;
        font-weight: 900;
        font-size: 56px;
        line-height: 66px;
        text-align: center;
        letter-spacing: -0.5px;
        color: #FFFFFF;
    }
}