@font-face {
  font-family: 'Comfortaa';
  src: url("../fonts/comfortaa.woff2") format("woff2"), url("../fonts/comfortaa.woff") format("woff"), url("../fonts/comfortaa.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Comfortaa';
  src: url("../fonts/comfortaabold.woff2") format("woff2"), url("../fonts/comfortaabold.woff") format("woff"), url("../fonts/comfortaabold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

#wrapper {
  overflow: hidden;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.page {
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #000;
}

.container {
  width: 100%;
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.header__content-btn {
  padding: 17px 64px 15px 30px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #3B00DD;
  border-radius: 4px;
  position: relative;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}

.header__content-btn::before {
  position: absolute;
  content: " ";
  top: 11px;
  right: 40px;
  width: 24px;
  height: 24px;
  background-image: url(../../images/prev-icon.svg);
}

.header__content-btn:hover {
  background-color: #724bdd;
}

.smart-studio {
  padding-top: 120px;
  background-color: #F5F5F5;
}

.smart-studio__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 80px;
  position: relative;
}

.smart-studio__item:last-child {
  margin-bottom: 0;
}

.smart-studio__item:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.smart-studio__img {
  padding-top: 87px;
  max-width: 100%;
  position: relative;
  display: block;
}

.smart-studio__img:before {
  position: absolute;
  content: '';
  background-color: #3B00DD;
  width: 78px;
  height: 4px;
  top: 0;
  left: 0;
}

.smart-studio__img--even::before {
  right: 0;
  left: auto;
}

.smart-studio__img--odd::before {
  left: 0;
  right: auto;
}

.smart-studio__content {
  max-width: 385px;
}

.smart-studio__title {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: 0.25px;
  color: rgba(0, 0, 0, 0.87);
  margin-bottom: 40px;
}

.smart-studio__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 166%;
  letter-spacing: 0.25px;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 110px;
}

.smart-studio__btn {
  margin-right: auto;
}

.feature {
  padding: 120px 0 117px;
  text-align: center;
}

.feature-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.feature-intro__popup {
  width: 587px;
  margin-right: 24px;
  position: relative;
}

.feature-intro__popup-item {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.feature-intro__items-box {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.feature-intro__item {
  width: 50%;
  width: 290px;
  margin-bottom: 80px;
  text-align: left;
  position: relative;
}

.feature-intro__item-img {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  margin-right: 16px;
  width: 20px;
  height: 20px;
}

.feature-intro__item-img--natural {
  background-image: url("../../images/natural_food.svg");
}

.feature-intro__item-img--innovation {
  background-image: url("../../images/innovation.svg");
}

.feature-intro__item-img--heart {
  background-image: url("../../images/heart_with_pulse.svg");
}

.feature-intro__item-img--planet {
  background-image: url("../../images/planet.svg");
}

.feature-intro__item-title {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 0.25px;
  color: rgba(0, 0, 0, 0.87);
  margin-bottom: 21px;
  padding-left: 36px;
}

.feature-intro__item-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: rgba(0, 0, 0, 0.6);
}

.feature__subtitle {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.25px;
  color: #03DAC4;
  margin-bottom: 13px;
}

.feature__title {
  max-width: 560px;
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 36px;
  text-align: center;
  color: rgba(0, 0, 0, 0.87);
  margin: 0 auto;
  padding-bottom: 65px;
}

.apartments {
  padding: 67px 0 127px;
  background-color: #F5F5F5;
}

.apartments-breadcrumbs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 64px;
}

.apartments-breadcrumbs__item:not(:last-child)::after {
  content: "/";
  margin-left: 4px;
  margin-right: 4px;
  font-size: 32px;
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 700;
  border-radius: 2px;
}

.apartments-breadcrumbs__link {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.87);
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: 0.25px;
}

.apartments-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.apartments-card__item {
  width: 31%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.apartments-card__item-header {
  position: relative;
  margin-bottom: 24px;
}

.apartments-card__item-photo {
  display: block;
  width: 100%;
  height: auto;
}

.apartments-card__item-number {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  padding-top: 18px;
  background-color: #fff;
  width: 60px;
  height: 60px;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.25px;
  color: rgba(0, 0, 0, 0.87);
}

.apartments-card__item-content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.apartments-card__item-title {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 27px;
  color: rgba(0, 0, 0, 0.87);
  margin-bottom: 21px;
}

.apartments-card__item-text {
  font-size: 16px;
  line-height: 166%;
  letter-spacing: 0.15px;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 20px;
}

.apartments-card__item-btn {
  display: block;
  margin-right: auto;
}

.apartments-card__item-btn--white {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.6);
}

.apartments-card__item-btn--white::before {
  background-image: url(../../images/prevblack.svg);
}

.portfolio {
  padding: 112px 0 120px;
}

.portfolio__title {
  text-align: center;
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 700;
  font-size: 46px;
  line-height: 51px;
  color: rgba(0, 0, 0, 0.87);
  margin-bottom: 146px;
}

.portfolio__items {
  display: -ms-grid;
  display: grid;
  gap: 24px;
  -ms-grid-columns: (282px)[4];
      grid-template-columns: repeat(4, 282px);
  -ms-grid-rows: (282px)[3];
      grid-template-rows: repeat(3, 282px);
}

.portfolio__item {
  position: relative;
  background-color: #03DAC4;
}

.portfolio__item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.portfolio__item--big {
  grid-column: span 2;
  grid-row: span 2;
}

.event {
  background-color: #f5f5f5;
  padding: 159px 0 160px;
}
