@font-face {
    font-family: 'Comfortaa';
    src: url('../fonts/comfortaa.woff2') format('woff2'),
        url('../fonts/comfortaa.woff') format('woff'),
        url('../fonts/comfortaa.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Comfortaa';
    src: url('../fonts/comfortaabold.woff2') format('woff2'),
        url('../fonts/comfortaabold.woff') format('woff'),
        url('../fonts/comfortaabold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

#wrapper {
    overflow: hidden;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    flex: 1 1 auto;
}

.page {
    overflow: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #000;
}

.container {
    width: 100%;
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

.header__top {
    padding: 49px 120px 43px 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 24px 38px rgba(0, 0, 0, 0.14), 0px 9px 46px rgba(0, 0, 0, 0.12), 0px 11px 15px rgba(0, 0, 0, 0.2);
}

.header__logo {
    margin-right: 55px;
}

.header__menu-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu-item {
    font-family: Comfortaa;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.87);
    transition: color .2s linear;
}

.header__menu-item:hover {
    color: #3B00DD;
}

.header__menu-item:not(:last-child) {
    margin-right: 24px;
}

.header__social {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__social-link {
    padding-left: 22px;
    display: inline-block;
}

.header__social-link img {
    transition: transform 0.2s linear;
}

.header__social-link img:hover {
    transform: scale(1.2);
}

.header__inner {
    display: flex;
    justify-content: space-between;
}

.header__content {
    max-width: 755px;
    padding: 193px 36px 100px 120px;
}

.header__content-title {
    font-family: Comfortaa;
    font-weight: 700;
    font-size: 56px;
    line-height: 62px;
    letter-spacing: -0.5px;
    color: rgba(0, 0, 0, 0.6);
    padding-right: 15px;
    margin-bottom: 42px;
}

.header__content-text {
    color: rgba(0, 0, 0, 0.87);
    margin-bottom: 77px;
    max-width: 486px;
}

.header__content-btn {
    padding: 17px 64px 15px 30px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #3B00DD;
    border-radius: 4px;
    position: relative;
    transition: background-color 0.2s linear;
}

.header__content-btn:before {
    position: absolute;
    content: " ";
    top: 11px;
    right: 40px;
    width: 24px;
    height: 24px;
    background-image: url(../images/prev-icon.svg);
}


.header__content-btn:hover {
    background-color: #724bdd;
}

.header__photo {
    position: relative;
}

.header__photo-bg {
    position: relative;
    min-height: 100%;
    top: 0;
    right: 0;
    object-fit: cover;
}

.header__photo-scroll {
    position: absolute;
    bottom: 170px;
    right: 120px;
    z-index: 2;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #FFFFFF;
    transform: rotate(90deg);
}

.header__photo-mouse {
    position: absolute;
    bottom: 100px;
    right: 120px;
    padding-top: 19px;
    z-index: 2;
}